<!DOCTYPE html>
<html ng-app='ShoppingListDirectiveApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
    <title>Narrow Down Your Menu Choice</title>
  </head>
  <body>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <!-- LIST #1 - unlimited items -->
    <div id="list" ng-controller='ShoppingListController as list'>
      <input type="text" placeholder="search term" ng-model="list.menuItems" class="form-control">
      <button class="btn btn-primary" ng-click="list.logMenuItems(list.menuItems);">Narrow It Down For Me!</button>

      <found-items
        items="list.items"
        on-remove="list.removeItem(index)"></found-items>

    </div>

  </body>
</html>
